.user-posts-container {
  text-align: center;
  padding: 10px 25px 75px 25px;
}
.user-posts-container h2 {
  font-size: 33px;
  font-weight: 300;
  color: #02bcd4;
}
.user-posts-container .reviews-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.user-posts-container .reviews-table a {
  font-size: 18px;
  color: #02bcd4;
}
.user-posts-container .reviews-table a:hover {
  color: #039aad;
}
.user-posts-container .reviews-table th,
.user-posts-container .reviews-table td {
  text-align: center;
}
.user-posts-container .reviews-table .post-title {
  text-align: left;
}
.user-posts-container .reviews-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.user-posts-container .empty-view {
  margin-top: 75px;
}
.user-posts-container .empty-view .message {
  margin-bottom: 75px;
  font-size: 18px;
}
.user-posts-container .empty-view .button {
  font-size: 20px;
  padding: 10px 20px;
  background: #02bcd4;
  color: #fff;
  font-weight: 300;
  border-radius: 3px;
  border: none;
  margin-top: 50px;
}

@media (max-width: 450px) {
  .user-posts-container .only-wide-screen {
    display: none;
  }
}